@page "/employers/create"
@using Microsoft.EntityFrameworkCore
@using JobBoard.Components.Domain
@inject IDbContextFactory<JobBoard.Data.JobBoardContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Employer</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Employer" OnValidSubmit="AddEmployer" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="companyname" class="form-label">CompanyName:</label> 
                <InputText id="companyname" @bind-Value="Employer.CompanyName" class="form-control" /> 
                <ValidationMessage For="() => Employer.CompanyName" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="companyemail" class="form-label">CompanyEmail:</label> 
                <InputText id="companyemail" @bind-Value="Employer.CompanyEmail" class="form-control" /> 
                <ValidationMessage For="() => Employer.CompanyEmail" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="companylogopath" class="form-label">CompanyLogoPath:</label> 
                <InputText id="companylogopath" @bind-Value="Employer.CompanyLogoPath" class="form-control" /> 
                <ValidationMessage For="() => Employer.CompanyLogoPath" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="industry" class="form-label">Industry:</label> 
                <InputText id="industry" @bind-Value="Employer.Industry" class="form-control" /> 
                <ValidationMessage For="() => Employer.Industry" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="location" class="form-label">Location:</label> 
                <InputText id="location" @bind-Value="Employer.Location" class="form-control" /> 
                <ValidationMessage For="() => Employer.Location" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="websiteurl" class="form-label">WebsiteUrl:</label> 
                <InputText id="websiteurl" @bind-Value="Employer.WebsiteUrl" class="form-control" /> 
                <ValidationMessage For="() => Employer.WebsiteUrl" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="identityuserid" class="form-label">IdentityUserId:</label> 
                <InputText id="identityuserid" @bind-Value="Employer.IdentityUserId" class="form-control" /> 
                <ValidationMessage For="() => Employer.IdentityUserId" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/employers">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Employer Employer { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddEmployer()
    {
        using var context = DbFactory.CreateDbContext();
        context.Employer.Add(Employer);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/employers");
    }
}
