@page "/employers"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using JobBoard.Components.Domain
@using JobBoard.Data
@implements IAsyncDisposable
@inject IDbContextFactory<JobBoardContext> DbFactory

<PageTitle>Employers</PageTitle>

<h1>Employers</h1>

<p>
    <a href="/employers/create" class="btn btn-primary">Create New</a>
</p>

@if (Employers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <QuickGrid TItem="JobListing" Class ="table" Items="@(Employers as IQueryable<Employer>)">
        <PropertyColumn Property="e => e.CompanyName" Title="Company Name" />
        <PropertyColumn Property="e => e.CompanyEmail" Title="Company Email" />
        <PropertyColumn Property="e => e.CompanyLogoPath" Title="Logo" />
        <PropertyColumn Property="e => e.Industry" Title="Industry" />
        <PropertyColumn Property="e => e.Location" Title="Location" />
        <PropertyColumn Property="e => e.WebsiteUrl" Title="Website" />
        <PropertyColumn Property="e => e.IdentityUserId" Title="User ID" />

        <TemplateColumn Context="e" Title="Actions">
            <a href="@($"/employers/edit?id={e.Id}")">Edit</a> |
            <a href="@($"/employers/details?id={e.Id}")">Details</a> |
            <a href="@($"/employers/delete?id={e.Id}")">Delete</a>
        </TemplateColumn>
    </QuickGrid>
}

@code {
    private JobBoardContext? context;
    private IQueryable<Employer>? Employers;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
        Employers = context.Employer; // Keep it IQueryable
    }

    public async ValueTask DisposeAsync()
    {
        if (context != null)
        {
            await context.DisposeAsync();
        }
    }
}

