@page "/applications/edit"
@using Microsoft.EntityFrameworkCore
@using JobBoard.Components.Domain
@inject IDbContextFactory<JobBoard.Data.JobBoardContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Application</h2>
<hr />
@if (Application is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Application" OnValidSubmit="UpdateApplication" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Application.Id" value="@Application.Id" />
                <div class="mb-3">
                    <label for="dateapplied" class="form-label">DateApplied:</label>
                    <InputDate id="dateapplied" @bind-Value="Application.DateApplied" class="form-control" />
                    <ValidationMessage For="() => Application.DateApplied" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="status" class="form-label">Status:</label>
                    <InputText id="status" @bind-Value="Application.Status" class="form-control" />
                    <ValidationMessage For="() => Application.Status" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="joblistingid" class="form-label">JobListingId:</label>
                    <InputNumber id="joblistingid" @bind-Value="Application.JobListingId" class="form-control" />
                    <ValidationMessage For="() => Application.JobListingId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="jobseekerid" class="form-label">JobSeekerId:</label>
                    <InputText id="jobseekerid" @bind-Value="Application.JobSeekerId" class="form-control" />
                    <ValidationMessage For="() => Application.JobSeekerId" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/applications">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Application? Application { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Application ??= await context.Application.FirstOrDefaultAsync(m => m.Id == Id);

        if (Application is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateApplication()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Application!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ApplicationExists(Application!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/applications");
    }

    private bool ApplicationExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Application.Any(e => e.Id == id);
    }
}
