@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <NotAuthorized>
        <h1>Hello, User!</h1>
        <p>Please press Login if you already have an account.</p>
        <a class="btn btn-primary" href="/login">Login</a>
    </NotAuthorized>

    <Authorized>
        <h1>Hello @GetRoleName()!</h1>
        <p>
            You are logged in as
            <strong>@context.User.Identity?.Name</strong>
        </p>
    </Authorized>
</AuthorizeView>

@code {
    private string GetRoleName()
    {
        var user = AuthenticationStateProvider
            .GetAuthenticationStateAsync()
            .Result
            .User;

        if (user.IsInRole("Admin")) return "Admin";
        if (user.IsInRole("Employer")) return "Employer";
        if (user.IsInRole("JobSeeker")) return "Job Seeker";

        return "User";
    }
}